<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>

<style>
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 80px;
}
</style>

<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">角色管理</h3>
		</div>
		<div class="panel-body">
			<div class="col-ms-12">
				<button ng-click="onAdd()" class="btn btn-primary">新增角色</button>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>操作</th>
							<th>角色名</th>
							<th>状态</th>
						    <th>描述</th>
						</tr>
					<thead>
						<tr ng-repeat="item in userData">
							<td>
							<img style="cursor: pointer;" src="photo/set.PNG"
								ng-click="onSetRolePemission(item.role_id)" height="14px" />
							<img style="cursor: pointer;" src="photo/see.PNG"
								ng-click="onShow(item.role_id)" height="14px" /> <img
								style="cursor: pointer;" src="photo/delete.PNG"
								ng-click="onDelete(item.role_id)" height="18px" /></td>
							<td>{{item.role_name}}</td>
							<td>{{item.role_status}}</td>
							<td>{{item.comment}}</td>
						</tr>
				</table>
				<div id="pagePaginator" style="text-align: left;">
					<ul id="pageLimit"></ul>
					<span style="float: right; margin-top: 5px; color: #222"> 
					每页
					<select id="slpk" class="selectpicker" data-live-search="false" 
					style="width:50px" >
					<option value='5'>5</option>
					<option value='10'>10</option>
					<option value='20'>20</option>
					<option value='50'>50</option>
					</select>
				条, 共{{total_record}}条记录</span>
				</div>
				 <br>
			</div>
		</div>
	</div>


   <!-- 模态框（Modal)-->
	<div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 1100px">
			<div class="modal-content">
				<div class="modal-header">新增角色</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-4">
								角色名： <input ng-model="role_name">
							</div>
							<div class="col-md-4">
								是否启用： <input ng-model="role_status">
							</div>
							<div class="col-md-4">
								描述： <input ng-model="comment">
							</div>
					</div>
				    </div>
		    	</div>
		    	<div class="modal-footer">
					<button class="btn btn-primary" ng-click="onOk()">确定</button>
					<button class="btn btn-primary" ng-click="onCancel()">取消</button>
				</div>
		</div>
	</div>
	</div>
	
	
	     <!-- 设置角色权限点（Modal)-->
	<div class="modal fade" id="setRolePermissionModal" tabindex="7"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 1100px">
			<div class="modal-content">
				<div class="modal-header">设置权限点</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-3">
								权限点： <select id="slpermission" class="slpermissionclass"
									data-live-search="false" style="width: 170px">
							 	</select>
					     
							</div>
							<div class="col-md-4">
								<button class="btn btn-primary" ng-click="onAddPermission()">添加</button>
							</div>
						</div>
					</div>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>操作</th>
								<th>权限名</th>
								<th>状态</th>
							</tr>
						<thead>
							<tr ng-repeat="item in rolePermissonData">
								<td>..</td>
								<td>{{item.permissiom_name}}</td>
								<td>{{item.status}}</td>
							</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" ng-click="onCancelForSetPermission()">关闭</button>
				</div>
			</div>
		</div>
	</div>
	
		<!-- 查看角色成员（Modal)-->
     <div class="modal fade" id="userRoleModal" tabindex="3" role="dialog"
		aria-labelledby="myModalLabel1" aria-hidden="true">
		<div class="modal-dialog" style="width: 1100px">
			<div class="modal-content">
				<div class="modal-header">新增角色</div>
				<div class="modal-body">
				<table class="table table-hover">
						<thead>
							<tr>
								<th>操作</th>
								<th>用户名</th>
								<th>到期时间</th>
								<th>状态</th>
							</tr>
						<thead>
							<tr ng-repeat="item in roleUserData">
								<td>..</td>
								<td>{{item.user_name}}</td>
								<td>{{item.endTime}}</td>
								<td>{{item.ur_status}}</td>
							</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" ng-click="onCancelForShowUser()">关闭</button>
				</div>
			</div>
      </div>
      
   </div>    
	
	
    
	
</body>
<script type="text/javascript">
</script>

</html>